/piston_engine/simulation_data/figures/
/piston_engine/simulation_data/
/piston_engine/validation/
/piston_engine/surrogate_data/
/CCE/optimisation_data/
.idea/wunder-engine.iml
.idea/misc.xml
**/thermo.lib
**/trans.lib
**/my_output.inp
**/my_output.out
**/my_output.plt
**/CEA_Wrap_error.out
CCE/studies/param_sweeps
CCE/studies/param_sweeps_old
CCE/studies/results_old
CCE/studies/pareto/optimisation_data
CCE/studies/carpet_sweeps/results 
.idea/
__pycache__/
*.pyc
*.pyo
/neural_network/input_data/
/piston_engine/sampled_data/
/piston_engine/validation_output_data/
/neural_network/nn_output_data/
/CCE/simulation_data/
**.ipynb_checkpoints/
/neural_network/validation_output_data/
/neural_network/sanity_check_data/
**.pdf
**.png
/studies/NOX_contour_piston_study/NOx_contour_data/
.venv2